@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#app",
  $enable-semantic-container: true,
);

// Remove underline on hover, if we want this can remove and I'll move it to scoped
nav a:hover {
  text-decoration: none;
}
